<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.curso.worldwonders" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_btfit"
        android:label="@string/app_name"
        android:theme="@style/WWTheme" >
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <provider
            android:name=".database.provider.WorldWondersContentProvider"
            android:authorities="com.curso.worldwonders" />

        <activity
            android:name=".ui.WonderDetailsActivity"
            android:label="@string/title_activity_wonder_details" >
        </activity>
        <service android:name=".sync.SyncService" android:exported="false"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bfc2108cf6fa1f236965c2a2fa6cdbf3d0998d0a" />
    </application>

</manifest>
